<h2>Teams</h2>

    <% @teams.each do |team| %>
      <h2><%= link_to(team.name, team_kudos_path(team)) %></h2>
      <div>
        <strong>Members:</strong> <%= member_names(team) %>
      </div>
      <div>
        <strong>Leader:</strong> <%= leader_name(team) %>
      </div>
      <div>
        <%= join_or_quit(team) %>
        <% if leader?(team) %>
          | <%= link_to 'Edit', edit_team_path(team) %> |
          <%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <% end %>


<br>

<%= link_to 'New Team', new_team_path %>
