<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Members:</strong> <%= member_names(@team) %>
</p>

<p>
  <strong>Settings:</strong>
  Start Date: <%= @team.start_date.strftime('%Y-%m-%d') %>,
  Interval: <%= @team.sprint_days %> days
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
